*.iml
.idea
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.so
*.lv2
build
cmake-build-debug
symlinked-dist
android-lv2-binaries.zip
android-fluidsynth-dist.zip
android-libsndfile-binaries.zip
aap-guitarix-binaries.zip
aap_metadata.xml
