[submodule "external/ayumi-lv2"]
	path = external/ayumi-lv2
	url = https://github.com/atsushieno/ayumi-lv2.git
[submodule "external/android-audio-plugin-framework"]
	path = external/android-audio-plugin-framework
	url = https://github.com/atsushieno/android-audio-plugin-framework.git
[submodule "external/serd"]
	path = external/serd
	url = https://github.com/atsushieno/serd.git
[submodule "external/sord"]
	path = external/sord
	url = https://github.com/atsushieno/sord.git
[submodule "external/sratom"]
	path = external/sratom
	url = https://github.com/drobilla/sratom.git
[submodule "external/lilv"]
	path = external/lilv
	url = https://github.com/atsushieno/lilv.git
[submodule "external/lv2"]
	path = external/lv2
	url = https://github.com/lv2/lv2.git
